fastapi==0.141.1
uvicorn[standard]==0.52.4
python-multipart==0.0.32
vosk==0.3.45
faster-whisper==1.2.1
ctranslate2==4.8.2
numpy==1.24.3
httpx==0.28.1
python-dotenv==1.2.3
nvidia-cublas-cu12==12.9.2.10
nvidia-cudnn-cu12==9.26.0.51